/node_modules
/public/hot
/vendor
/dist
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/user-avatars/00kkurAb4nxbMdyXl12aGETjFljEAoFNYRqs9xKL.png

public/user-avatars/0WIcfmaGuIPYG9Ok6V7pHVN35dhqZVF4F9T55EOY.png

public/user-avatars/6CSO5B0KFZ8ITPCskzM5eIEs4wgHpImBrAKbM47Q.png

public/user-avatars/myizc1s42J9aOjC6gkDomiS65lcPHzl1y1MiocoY.png

public/user-avatars/nMFeYnfxak02KjT7P2Dke5EqOrKCMYiXJTAaY938.png

public/user-avatars/VF4zXe6f4chyHVKO8AcMFHZUCSxqoCQxL3iMup7K.png

public/user-avatars/VvRT6uaCTdte4zutN9PIrvIcvcHptAELuBAnseaA.png

public/storage
