#not-found {
	h1 {
		transform: translate(-50%, -50%);
		position: absolute;
		font-size: 4rem;
		left: 50%;
		top: 25%;
	}

	.search {
		transform: translate(-50%, -50%);
		border: 2px solid $green;
		background: none;
		border-radius: 5rem;
		position: absolute;
		height: 100%;
		width: 60%;
		height: 5%;
		left: 50%;
		top: 40%;

		input {
			padding-right: 1.75rem;
			padding-left: 1.75rem;
			border-radius: 5rem;
			background: black;
			font-size: 2rem;
			color: white;
			width: 100%;
			border: 0;

			&::placeholder {
				color: white;
				opacity: 0.25;
			}

			&:focus {
				outline: 0;
			}
		}

		button {
			border: 0;
			padding: 0.5rem 1.5rem 0.5rem 1.2rem;
			border-bottom-right-radius: 5rem;
			border-top-right-radius: 5rem;
			border-left: 2px solid $green;
			background: black;

			&:focus {
				outline: 0;
			}

			i {
				align-self: center;
				font-size: 1.5rem;
			}
		}
	}
}