.alert {
	animation: fade 0.25s linear forwards;
	padding: 0.5rem 1rem;
	flex-direction: row;
	position: relative;
	border-radius: 0;
	color: white;
	display: flex;

	@keyframes fade {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	&.success {
		background: rgba(0, 194, 110, 0.75);
	}

	i {
		margin: auto 0;
		color: white;
	}

	span {
		margin-left: 0.5rem;
	}

	div {
		position: absolute;
		cursor: pointer;
		display: flex;
		height: 100%;
		width: 3%;
		right: 0;
		top: 0;

		&:hover {
			.close {
				opacity: 1 !important;
				color: white;
			}
		}
		
		.close {
			font-size: 1rem;
			opacity: 0.75;
			margin: auto;
			float: none;
		}
	}
}