.modal-auth {
	width: 35rem;
	
	.modal-content {
		border-radius: 1px;
		border: none;

		.modal-header {
			justify-content: center;
			background: $green;
			position: relative;

			.modal-title {
				text-align: center;
				font-size: 1.5rem;
				color: white;
			}

			.close {
				position: absolute;
				right: 15px;
				top: 15px;
			}
		}

		.modal-body {
			padding: 30px;

			.checkbox-inline {
				margin: 0 auto 0 0;				
				user-select: none;

				input[type="checkbox"] {
					margin: auto 0.25rem auto 0;
					vertical-align: middle;
					position: static;
				}
			}
		}

		.modal-footer {
			background: #f2f2f2;

			p {
				margin: 0.5rem auto;
			}
		}
	}

	.btn {
		line-height: normal;
		min-height: 38px;
		min-width: 100px;
		border: none;
	}
}