.modal-auth {
	width: 35rem;

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: underline;
		}
	}

	::placeholder {
		opacity: 0.5;
	}
	
	.modal-content {
		border-radius: 1px;
		border: 0;

		.modal-header {
			justify-content: center;
			background: $green;
			position: relative;
			border-radius: 0;
			border: 0;

			.modal-title {
				text-align: center;
				user-select: none;
				font-size: 1.5rem;
				color: white;
			}

			.close {
				position: absolute;
				color: white;
				right: 15px;
				opacity: 1;
				top: 15px;

				&:focus {
					outline: 0;
				}
			}
		}

		.modal-body {
			padding: 30px;

			.password-row {
				display: flex;

				.password-revealer {
					border: 1px solid #ced4da;
					background: none;
					border-left: 0;
					width: 3rem;
				}
			}

			.remember-row {
				margin-top: 2rem;

				.checkbox-inline {
					user-select: none;
					cursor: pointer;

					.remember-me {
						vertical-align: middle;
						margin-left: 2rem;
					}

					input {
						position: absolute;
						opacity: 0;
						cursor: pointer;
						height: 0;
						width: 0;
					}

					.checkmark {
						background-color: #eee;
						position: absolute;
						height: 25px;
						width: 25px;
					}

					:hover input ~ .checkmark {
						background-color: #ccc;
					}

					input:checked ~ .checkmark {
						background-color: $green;
					}

					.checkmark:after {
						content: "";
						position: absolute;
						display: none;
					}

					input:checked ~ .checkmark:after {
						display: block;
					}

					.checkmark:after {
						-webkit-transform: rotate(45deg);
						left: 9px;
						top: 7px;
						width: 5px;
						height: 10px;
						border: solid white;
						border-width: 0 3px 3px 0;
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);
					}
				}
			}
		}

		.modal-footer {
			background: #f2f2f2;
			padding: 0.75rem 30px;
			border-radius: 0;

			p {
				margin: 0.5rem auto;
			}
		}
	}

	.btn {
		line-height: normal;
		min-height: 38px;
		min-width: 100px;
		border: none;
	}
}