::selection {
	background: $body-bg;
	color: $green;
}

.fas {
	color: $green;
}

.breadcrumbs {
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
	border: 2px solid $green;
	padding: 0.5rem 0.75rem;
	margin-top: -1rem;
	background: $gray;
	color: white;
	border-top: 0;
}

#scroller {
	transition: opacity 0.25s linear;
	pointer-events: none;
	background: $green;
	user-select: none;
	position: fixed;
	cursor: pointer;
	display: flex;
	bottom: 2rem;
	height: 3rem;
	width: 3rem;
	right: 2rem;
	opacity: 0;

	i {
		color: white;
		margin: auto;
	}

	&.show {
		pointer-events: auto;
		opacity: 1;
	}
}

.file-upload {
	padding: 0.5rem 0.75rem;
	background: $green;
	user-select: none;
	cursor: pointer;
	color: white;
	margin: 0;

	&.slide {
		span {
			transition: opacity 0.05s linear;
			opacity: 0;
		}
	}

	span {
		transition: opacity 0.25s linear;
		opacity: 1;
	}

	i {
		transition: transform 0.25s linear;
		margin-right: 0.25rem;
		align-self: center;
		transform: none;
	}

	&:hover, &:focus {
		background: $darkgreen;
	}
}

input[type=file] {
	position: absolute;
	overflow: hidden;
	height: 0.1px;
	width: 0.1px;
	z-index: -1;
	opacity: 0;
}

.spin {
	&.loading {
		background: black;

		.fas {
			animation-name: spin;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-timing-function: linear; 
		}

		@keyframes spin {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}

		&:hover, &:active, &:focus {
			background: black;
			box-shadow: none;
			cursor: default;
		}
	}
}