#settings {
	.settings-nav {
		margin-right: 1rem;

		.superadmin-item {
			background: $transparent-gray;
			border: 1px solid $green;
			
			.settings-link {
				padding: 1rem;
				display: flex;
				color: white;
				
				&.active {
					background: $green !important;
				}

				&:not(.active) {
					&:hover {
						background: $lightgray;
					}
				}
			}
		}

		.settings-item {
			background: $transparent-gray;
			border: 1px solid $green;
			border-top: 0;

			&.rounded-top {
				border-top: 1px solid $green;
			}
			
			.settings-link {
				padding: 1rem;
				display: flex;
				color: white;

				&.active {
					background: $green;
				}
				
				&:not(.active) {
					&:hover {
						background: $lightgray;
					}
	
					&#logout {
						background: rgb(202, 12, 31);
						color: white;
	
						&:hover {
							background: rgb(143, 6, 20);
						}
					}
				}
			}
		}
	}

	.settings-display {
		background: $transparent-gray;
		border-radius: 0.25rem;
		flex: 1;
	}
}