.page-error {
	
}

#four-zero-four {
	flex-direction: column;
	padding-top: 15rem;
	display: flex;

	.header {
		flex-direction: column;
		display: flex;

		h1, i {
			text-align: center;
			user-select: none;
			font-size: 4rem;
			margin: auto;
		}
	}

	.search {
		border: 2px solid $green;
		border-radius: 5rem;
		background: none;
		margin: auto;
		height: 5%;
		width: 75%;

		input {
			padding-right: 1.75rem;
			padding-left: 1.75rem;
			background: black;
			border-radius: 5rem;
			font-size: 2rem;
			color: white;
			width: 100%;
			border: 0;

			&::placeholder {
				color: white;
				opacity: 0.25;
			}

			&:focus {
				outline: 0;
			}
		}

		button {
			border: 0;
			padding: 0.5rem 1.5rem 0.5rem 1.2rem;
			border-bottom-right-radius: 5rem;
			border-top-right-radius: 5rem;
			border-left: 2px solid $green;
			background: black;

			&:focus {
				outline: 0;
			}

			i {
				align-self: center;
				font-size: 1.5rem;
			}
		}
	}
}

#four-zero-five {
	flex-direction: column;
	padding-top: 15rem;
	display: flex;

	.header {
		flex-direction: column;
		display: flex;

		h1, i {
			text-align: center;
			user-select: none;
			font-size: 4rem;
			margin: auto;
		}
	}
}

#five-zero-five {
	flex-direction: column;
	padding-top: 15rem;
	display: flex;

	.header {
		flex-direction: column;
		display: flex;

		h1, i {
			text-align: center;
			user-select: none;
			font-size: 4rem;
			margin: auto;
		}
	}
}