p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

body {
	background: url('../images/background.jpg');
	overflow-x: hidden;
}

a {
	color: $green;

	&:hover {
		text-decoration: none;
		color: $dark-green;
	}

	&:visited {
		color: $dark-green;

		&:hover {
			color: $green;
		}
	}
}

.fas {
	color: $green;
}

::selection {
	color: #0059ff;
}

.bg-pink {
	box-shadow: inset 0 0 15px 0px rgba(0, 0, 0, 0.5);
	background: $pink !important;
}

.bg-dark {
	box-shadow: inset 0 0 15px 0px rgba(0, 0, 0, 0.5);
	background: $gray !important;

	a {
		color: white;

		&:hover {
			color: $green;
		}
	}
}

.bg-green {
	box-shadow: inset 0 0 15px 0px rgba(0, 0, 0, 0.5);
	background: $green;
}

.color-green {
	color: $green !important;
}

.color-gray {
	color: $gray !important;
}

.color-pink {
	color: $pink !important;
}

.color-white {
	color: white !important;
}

.popup {
	//background: rgba(0, 0, 0, 0.5);
	animation: popup-filter 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;

	@keyframes popup-filter {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.unauthorized {
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		animation: fly-in 1s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
		border: 1px solid white;
		position: absolute;
		padding: 1.5%;
		left: 50%;

		// temp
		box-shadow: 0vw 0vh 25px 0px rgba(0, 0, 0, 0.5);
		//

		.fa-times {
			position: absolute;
			right: 1%;
			top: 1%;

			&:hover {
				cursor: pointer;
			}
		}

		@keyframes fly-in {
			0% {
				top: -10%;
			}
			100% {
				top: 35%;
			}
		}
	}
}