p, h1, h2, h3, h4, h5, h6, ul, ol {
	margin: 0;
}

p, a, span {
	font-size: $font-size-base;
}

ul, ol {
	list-style: none;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
    flex-direction: column;
	background: $body-bg;
	overflow-x: hidden;
    min-height: 100vh;
	display: flex;
}

img, input::placeholder {
	user-select: none;
}

a {
	&:hover, &:visited:hover {
		text-decoration: none;
		color: $turqoise;
	}
	&:visited {
		color: $silver;
	}
}

#app {
	flex-direction: column;
	display: flex;
	flex: 1;
}

#content {
	flex-direction: row;
	position: relative;
	padding: 1% 10%;
	display: flex;
	flex: 1;
}

.color-black {
	color: black !important;
}

.color-white {
	color: white !important;
}

.color-red {
	color: red !important;
}

.search-wrapper {
	flex-direction: row;
	position: relative;
	display: flex;

	input {
		padding-left: 0;
	}

	button {
		padding-right: 0;
	}
}