p, h1, h2, h3, h4, h5, h6, ul, ol {
	margin: 0;
}

span {
	font-size: inherit;
}

ul, ol {
	list-style: none;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url('../../storage/app/public/images/background-polygons.png');
	background-attachment: fixed;
	background-color: $body-bg;
    flex-direction: column;
	overflow-x: hidden;
    min-height: 100vh;
	color: white;
	display: flex;
}

img, input::placeholder {
	user-select: none;
}

input, textarea {
	transition: box-shadow 0.15s linear;
	padding: 0.25rem 0.5rem;
	outline-color: $green;
}

a {
	color: $link;

	&:hover, &:visited:hover {
		text-decoration: none;
		color: $turqoise;
	}

	&:visited {
		color: $link;
	}
}

.far, .fas, .fal {
	color: $green;
}

#reply-form {
	margin-bottom: 1rem;
}

#app {
	flex-direction: column;
	display: flex;
	height: 100%;
	flex: 1;
}

.no-transition {
	transition: none !important;
}

.navbar, #content, #footer {
	padding-right: 15vw;
	padding-left: 15vw;

	@include phone {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

#content {
	padding-bottom: 2rem;
	flex-direction: row;
	position: relative;
	padding-top: 1rem;
	display: flex;
	flex: 1;

	#main {
		position: relative;
		padding-top: 1rem;
		max-width: 50vw;
		margin: 0 auto;
		flex: 3;

		@include phone {
			max-width: unset;
			width: 100%;
			flex: unset;
			margin: 0;
		}
	}
}

.color-black {
	color: black !important;
}

.color-white {
	color: white !important;
}

.color-red {
	color: red !important;
}

h1, h2, h3, h4, h5, h6, a, p, i, span {
	&.is_superadmin {
		color: $superadmin-fill;
	}

	&.is_moderator {
		color: $moderator-fill;
	}
}