.navbar {
	border-bottom: 2px solid $green;
	background: $gray;
	position: sticky;
	display: flex;
	height: 5rem;
	top: 0;

	#navbar-container {
		position: relative;

		.navbar-brand {
			margin-right: 0.5rem;
			width: 10rem;
		}

		form {
			.nav-search {
				border-bottom: 2px solid $green;
				background: transparent;
				margin-left: 2rem;
				display: flex;

				input {
					background: transparent;
					padding: 0.35rem 0;
					color: white;
					border: 0;

					&::placeholder {
						color: white;
						opacity: 0.25;
					}

					&:focus {
						outline: 0;
					}
				}

				button {
					border: 0;
					background: transparent;
					padding: 0.35rem 0;

					&:focus {
						outline: 0;
					}

					i {
						align-self: center;
						font-size: 1rem;
					}
				}
			}
		}

		.navbar-content {
			display: flex;
			flex: 1;

			.nav-list {
				flex-direction: row-reverse;
				display: flex;

				.nav-avatar {
					border: 2px solid $green;
					width: 2.5rem;
				}

				.nav-items {
					flex-direction: row-reverse;
					display: flex;

					.nav-item {
						margin: auto 0 auto 1.5rem;
						padding: 0;

						.nav-link {
							border: 2px solid $green;
							padding: 0.5rem 1.5rem;
							user-select: none;
							color: $green;

							&:hover {
								transition: background 0.1s ease-out;
								background: $green;
								color: white;
							}

							&#login-button {
								background: none;
								padding: 0.5rem;
								border: 0;
							}
						}
					}
				}
			}
		}

		.extra-nav-items {
			border: 2px solid transparent;
			flex-direction: row;
			position: absolute;
			display: flex;
			width: 100%;

			.extra-nav-item {
				opacity: 0;
			}
		}
	}
}