.navbar {
	border-bottom: 2px solid $green;

	.navbar-brand {
		color: $green;
		padding: 0;
	}

	.navbar-toggler {
		.navbar-toggler-icon {
			width: 100%;

			img {
				height: 100%;
			}
		}
	}

	.nav-link {
		border: 2px solid $green;
		color: white;

		&:hover {
			transition: background 0.05s ease-out;
			background: $green;
		}
	}

	.dropdown-menu {
		-webkit-border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		-ms-border-radius: 0 0 5px 5px;
		-o-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
		border: 2px solid $green;
		background: $gray;
		color: white;
		border-top: 0;
		padding: 0;
		top: 115%;

		@media (max-width: 767px) {
			border: 0;
		}

		.dropdown-item {
			text-transform: uppercase;
			padding: 0.8rem;
			color: white;
			
			&:hover {
				background: #383838;
			}
		}
	}
}