.navbar {
	border-bottom: 2px solid $green;
	background: $transparent-gray;

	a.navbar-brand {
		user-select: none;
		color: $green;
		padding: 0;
	}

	.nav-search {
		background: black;
		height: 100%;

		input {
			border: 2px solid $green;
			background: black;
			color: white;

			&::placeholder {
				color: white;
				opacity: 0.25;
			}

			&:focus {
				outline: 0;
			}
		}

		button {
			border-bottom: 2px solid $green;
			border-right: 2px solid $green;
			border-top: 2px solid $green;
			padding: 0.5rem 0.75rem;
			background: black;
			border-left: 0;

			&:focus {
				outline: 0;
			}

			i {
				align-self: center;
				font-size: 1rem;
			}
		}
	}

	.navbar-toggler {
		.navbar-toggler-icon {
			width: 100%;

			img {
				height: 100%;
			}
		}
	}

	.nav-link {
		padding: 0.5rem 1rem !important;
		border: 2px solid $green;
		background: black;
		user-select: none;
		color: $green;

		&:hover {
			transition: background 0.05s ease-out;
			background: $green;
			color: white;
		}
	}

	.dropdown-menu {
		-webkit-border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		-ms-border-radius: 0 0 5px 5px;
		-o-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
		border: 2px solid $green;
		background: $gray;
		color: white;
		border-top: 0;
		padding: 0;
		top: 115%;

		@media (max-width: 767px) {
			border: 0;
		}

		.dropdown-item {
			text-transform: uppercase;
			padding: 0.8rem;
			color: white;
			
			&:hover {
				background: #383838;
			}
		}
	}
}