.post {
	background: #e9ecef;

	.post-header {
		box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.5);
		background: $gray;

		a {
			color: white;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&.is_author .post-header {
		background: $green;
	}

	.post-body {
		.user-meta {
			background: rgb(215, 215, 215);

			p {
				padding: 0.15rem 0;
			}
		}

		.post-content {
			flex: 5;
		}
	}
}