.post {
	margin-bottom: 1rem;
	background: none;

	.post-header {
		margin-bottom: 2px;

		.post-meta {
			flex-direction: row;
			display: flex;

			.post-avatar {
				margin-right: 2px;
				padding: 2px;
				width: 5rem;

				&.is_online {
					border-color: $green;
				}

				&.is_superadmin {
					border-color: $superadmin;
				}

				&.is_moderator {
					border-color: $moderator;
				}
			}

			.post-meta-text {
				justify-content: space-between;
				background: #2b2b34e6;
				flex-direction: row;
				color: white;
				padding: 1rem;
				display: flex;
				flex: 1;

				&.is_superadmin {
					background: linear-gradient(to right, #00a2cf66, #2b2b34e6);
				}

				&.is_moderator {
					background: linear-gradient(to right, $moderator, #2b2b34e6);
				}

				&.is_author {
					background: linear-gradient(to right, $darkgreen, #2b2b34e6);

					.post-meta-left .post-author a:hover, .post-meta-right .post-link:hover {
						color: $turqoise;

						i, .permalink {
							color: $turqoise;
						}
					}
				}

				.post-author {
					a, a:visited {
						color: white;

						&:hover {
							color: $turqoise;
						}
					}
				}

				.post-meta-left, .post-meta-right {
					margin: auto 0;
				}

				.post-meta-left {
					.post-author-role {
						font-size: 0.8rem;
					}
				}

				.post-meta-right {
					text-align: right;

					.post-i {
						font-size: 0.8rem;
					}
				}
			}

			.post-link {
				position: relative;

				a {
					position: relative;
					color: white;

					&:hover {
						color: $turqoise;

						i.fas {
							color: $turqoise;
						}
					}

					i.fas {
						color: white;
					}
				}

				.copy-notification {
					transform: translate(-50%, -50%);
					box-shadow: 0 0 5px 0px black;
					padding: 0.5rem 0.65rem;
					background: #141414;
					animation: fade-in 2s;
					border-radius: 10px;
					position: absolute;
					opacity: 0;
					top: -160%;
					left: 50%;

					@keyframes fade-in {
						10% {
							opacity: 1;
						}
						80% {
							opacity: 1;
						}
						100% {
							opacity: 0;
						}
					}

					span {
						user-select: none;
						margin: auto;
					}

					&::after {
						content: '';
						border-color: #141414 transparent;
						transform: translateX(-50%);
						border-width: 20px 20px 0;
						border-style: solid;
						position: absolute;
						bottom: -25%;
						left: 50%;
					}
				}
			}
		}
	}

	.post-body {
		background: #2b2b34e6;
		color: white;
		padding: 1rem;

		table {
			margin: 0;
		}

		ul, ol {
			padding-left: 1rem;
			list-style: unset;
		}

		* {
			color: white;
		}
	}
}