#posts-slider {
	white-space: nowrap;
	align-items: center;
	overflow-x: hidden;
	position: relative;
	display: flex;
	width: 60rem;
	height: 2rem;

	.latest-post {
		position: absolute;
		text-align: center;
		color: white;
		width: 100%;
	}
}