#sidebar {
	margin-left: 2.5rem;
	height: fit-content;
	position: sticky;
	max-width: 20%;
	color: white;
	top: 6rem; // 4rem from navbar height plus content padding;
	flex: 1;

	a {
		color: white;

		&:visited {
			color: white;

			&:hover {
				color: $turqoise;
			}
		}

		&:hover {
			color: $turqoise;
		}
	}

	.sidebar-item {
		border: 2px solid $green;
		background: $darkindigo;
		border-radius: 0.25rem;
		margin-bottom: 1rem;

		.item-border {
			border: 4px solid black;
			padding: 0.5rem 1rem;
		}

		&.welcome {
			.item-border {
				justify-content: space-between;
				flex-direction: row;
				display: flex;

				.welcome-text {
					flex-direction: column;
					display: flex;

					.sidebar-header {
						padding: 0;
						border: 0;

						a {
							font-weight: normal;
							font-size: inherit;
						}
					}

					.logout {
						margin-right: auto;
						margin-top: auto;
						color: $green;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.welcome-avatar {
					width: 40%;

					img {
						margin: auto;
					}
				}
			}
		}

		.sidebar-header {
			border-bottom: 2px solid $green;
			padding-bottom: 0.5rem;
			margin-bottom: 0.5rem;
			font-weight: bold;
		}

		a:hover {
			color: $turqoise;
		}

		.is_superadmin {
			color: $superadmin-fill;
		}

		.is_moderator {
			color: $moderator-fill;
		}
	}
}