#sidebar {
	top: calc(4vh + 2rem);
	margin-left: 2.5rem;
	height: fit-content;
	position: sticky;
	color: white;
	flex: 1;

	a {
		color: white;

		&:visited {
			color: white;

			&:hover {
				color: $turqoise;
			}
		}

		&:hover {
			color: $turqoise;
		}
	}

	.sidebar-item {
		border: 2px solid $green;
		border-radius: 0.25rem;
		padding: 0.5rem 1rem;
		margin-bottom: 1rem;

		&.welcome .sidebar-header {
			padding: 0;
			margin: 0;
			border: 0;
		}

		.sidebar-header {
			border-bottom: 2px solid $green;
			padding-bottom: 0.5rem;
			margin-bottom: 1rem;
			font-weight: bold;
		}

		a:hover {
			color: $turqoise;
		}

		.is_superadmin {
			color: $superadmin-text;
		}

		.is_moderator {
			color: $moderator-text;
		}
	}
}