.note-editor {
	&.note-frame.panel.panel-default {
		border: 0;
	}

	.note-toolbar {
		background: $darkindigo;

		i, span {
			color: white;
		}

		.note-dropdown-menu {
			min-width: 200px;
			padding: 0;

			li {
				padding: 0.5rem;
				cursor: pointer;

				&:hover {
					background: $lightgray;
				}

				a, span {
					color: black;
				}

				blockquote, pre {
					padding: 0;
				}
			}
		}

		button::after {
			content: none;
		}
	}

	.note-statusbar {
		border-radius: 0 !important;

		.note-resizebar {
			background: $darkindigo;

			.note-icon-bar {
				border-color: white;
			}
		}
	}
}