.table {
	.fas {
		font-size: 1.5rem;
	}

	tr:not(.table-splitter) {
		border: 1px solid #dee2e6;
	}

	td {
		padding: 0.5rem;
	}

	thead {
		color: white;

		th {
			border: 0;
		}
	}

	tbody {
		tr {
			&:not(.tablecategory) {
				background: #444444;
			}

			&.table-splitter {
				height: 1vh;
			}

			td {
				vertical-align: middle;
				color: white;
			}
		}
	}
}