.table-wrapper {
	background: $gray;
	padding: 0.25rem;

	.table {
		margin: 0;
	
		.fa-folder-open {
			font-size: 1.5rem;
		}
	
		th, td {
			border: 0;
		}
	
		.table-header {
			background: black;
		}

		.table-category, .table-subcategory {
			background: $green;
		}
	
		.table-category {
			a {
				color: white;
	
				&:hover {
					text-decoration: underline;
				}
			}
		}
	
		.table-row {
			background: $gray;
	
			&:nth-child(odd) {
				background: $darkindigo;
			}

			a {
				&:hover {
					color: $turqoise;
				}	
			}
		}
	
		td {
			padding: 0.5rem;
		}
	
		thead {
			color: white;
	
			th {
				border: 0;
	
				&.posts, &.threads {
					width: 7%;
				}
			}
		}
	
		tbody {
			tr {
				td {
					vertical-align: middle;
					color: white;
				}
			}
		}
	}
}