.table {
	.fas {
		font-size: 1.5rem;
	}

	th, td {
		border: 0;
	}

	.table-header {
		background: rgba(31, 31, 31, 0.75);
	}

	.table-category {
		background: $transparent-green;
	}

	.table-subcategory {
		background: $gray;

		&:nth-child(even) {
			background: $light-gray;
		}
	}

	td {
		padding: 0.5rem;
	}

	thead {
		color: white;

		tr {
			//background: $transparent-green;
		}

		th {
			border: 0;
		}
	}

	tbody {
		tr {
			td {
				vertical-align: middle;
				color: white;
			}
		}
	}
}