.thread-title {
	padding: 1rem 0;
	color: white;
}

.thread-toolbar {
	border: 1px solid $green;
	margin-bottom: 0.5rem;
	width: fit-content;
}

.thread-save-toolbar {
	margin: 0.5rem 0 1rem 0;
}

.post-send {
	margin-top: 0.5rem;
}