#toolbar, #toolbar .toolbar-item {
	height: calc(100vh - 12rem); // 4rem for footer and navbar respectively, 4rem for padding bottom and top on content
	margin-right: 2.5rem;
	position: fixed;
	color: white;
	width: 17.5rem; // 20rem is the distance from the window edge to the main content area
	z-index: 999;
	top: 6rem;
	left: 0;
}

#toolbar {
	.toolbar-items {
		background: $darkindigo;
		width: fit-content;
		padding: 0.5rem 1rem;

		.toolbar-row {
			margin-bottom: 1rem;
			position: relative;
			user-select: none;
			cursor: pointer;

			&:last-child {
				margin-bottom: 0;
			}

			.toolbar-icon {
				justify-content: center;
				display: flex;
			}

			.toolbar-item {
				transition: transform 0.25s ease-in-out;
				transform: translateX(-100%);

				&.show {
					transform: none;
				}

				.toolbar-subitem {
					padding: 0.5rem 0;

					.title {
						margin-bottom: 0.25rem;
					}

					&.spoof-login {
						input {
							background: white;
							padding: 0 0.25rem;
							color: black;
							width: 100%;
							outline: 0;
							border: 0;
						}
					}

					&.maintenance-mode {
						.btn {
							i {
								margin-right: 0.25rem;
							}
						}
					}
				}
			}
		}
	}
}