#toolbar {
	border: 2px solid $green;
	background: $superadmin;
	top: calc(4vh + 2rem); // navbar is 4vh high and content has a 2rem margin-top away from it
	margin-right: 2.5rem;
	height: fit-content;
	position: fixed;
	border-left: 0;
	color: white;
	width: 17.5rem; // 20 rem is the distance from the window edge to the main content area
	z-index: 2;
	left: 0;

	.toolbar-items {
		.toolbar-row {
			margin-bottom: 1rem;
			position: relative;
			user-select: none;

			&:last-child {
				margin-bottom: 0;
			}

			.toolbar-collapse {
				padding: 0.5rem 1rem;
				align-items: center;
				position: relative;
				cursor: pointer;
				display: flex;

				span {
					margin-left: 0.5rem;
				}

				i {
					width: 1.5rem;

					&.fa-caret-left {
						transition: transform 0.25s ease-in-out;
						margin-left: auto;
						color: white;
						width: unset;
					}
				}
			}

			.toolbar-accordion {
				transition: height 0.25s ease-in-out, margin 0.25s ease-in-out;
				background: $gray;
				overflow: hidden;
				padding: 0 1rem;
				height: 0;

				.toolbar-item {
					padding: 1rem 0;
				}
			}
		}
	}
}