// Body
$body-bg: #000;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$line-height-base: 1.5;
$font-size-base: 1rem;

// Colors
$transparent-green: rgba(0, 194, 110, 0.5);
$dark-green: #007c46;
$turqoise: #00ffff;
$purple: #9561e2;
$yellow: #ffed4a;
$orange: #f6993f;
$indigo: #6574cd;
$green: #00c26e;
$blue: #3490dc;
$pink: #91002e;
$gray: #1f1f1f;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$red: #e3342f;