// Body
$body-bg: #333333;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$purple: #9561e2;
$yellow: #ffed4a;
$orange: #f6993f;
$indigo: #6574cd;
$green: #38c172;
$blue: #3490dc;
$pink: #b30039;
$gray: #1f1f1f;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$red: #e3342f;
