// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$line-height-base: 1.5;
$font-size-base: 1rem;

// Colors
$darkturqoise: #00c8c8;
$superadmin: #00b0e066;
$darkindigo: #2b2b34e6;
$lightgray: #dadada;
$moderator: #7a11a3;
$darkgreen: #00a05b;
$turqoise: #00ffff;
$body-bg: #18171c;
$purple: #9561e2;
$silver: #a5abaf;
$yellow: #ffed4a;
$orange: #f6993f;
$indigo: #6574cd;
$green: #00c26e;
$blue: #3490dc;
$pink: #91002e;
$gray: #1f1f1f;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$link: #3490dc;
$red: #e3342f;