.chat-message {
    background: rgba(0, 0, 0, 0.2);
    word-break: break-all;
    padding: 0.25rem;

    &:nth-child(even) {
        background: rgba(0, 0, 0, 0.4);
    }

    .message-content {
        display: flex;

        a, .message-timestamp {
            margin-right: 0.25rem;
        }

        .message-timestamp {
            color: $silver;
        }

        .chat-message-remove {
            margin-left: auto;
            background: 0;
            outline: 0;
            border: 0;

            i {
                color: red;
            }
        }
    }
}