::selection {
	background: #00b36580;
	color: white;
}

.fas {
	color: $green;
}

.content-upper {
	padding: 0 42.5rem 0 20rem;
}

.crud-toolbar {
	border: 1px solid $green;
	background: $darkindigo;
	margin: 2rem 0 1rem 0;
	padding: 0.5rem 1rem;
	flex-direction: row;
	width: fit-content;
	display: flex;

	i {
		pointer-events: none;
		color: white;
	}

	.btn {
		margin-right: 0.5rem;

		&:last-child {
			margin-right: 0;
		}
	}
}

.breadcrumb {
	padding: 2rem 0 0 0;
	background: none;
	color: white;
	margin: 0;

	a, a:visited {
		color: $green;
	}
}

#scroller {
	transition: opacity 0.25s linear;
	pointer-events: none;
	background: $green;
	user-select: none;
	position: fixed;
	cursor: pointer;
	display: flex;
	bottom: 2rem;
	height: 3rem;
	width: 3rem;
	right: 2rem;
	opacity: 0;

	i {
		color: white;
		margin: auto;
	}

	&.show {
		pointer-events: auto;
		opacity: 1;
	}
}

[data-title] {
	position: relative;

	span {
		box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
		transition: opacity 0.15s ease-in-out;
		font-family: $font-family-sans-serif;
		transform: translateX(-50%);
		border: 1px solid $green;
		background: #000000f2;
		border-radius: 0.25rem;
		pointer-events: none;
		padding: 0.5rem 1rem;
		position: absolute;
		z-index: 9999;
		opacity: 0;
		left: 50%;
		top: 0;
	}

	&:hover span {
		opacity: 1;
	}
}

.file-upload {
	padding: 0.5rem 0.75rem;
	background: $green;
	user-select: none;
	cursor: pointer;
	color: white;
	margin: 0;

	&.slide {
		span {
			transition: opacity 0.05s linear;
			opacity: 0;
		}
	}

	span {
		transition: opacity 0.25s linear;
		opacity: 1;
	}

	i {
		transition: transform 0.25s linear;
		margin-right: 0.25rem;
		align-self: center;
		transform: none;
	}

	&:hover, &:focus {
		background: $darkgreen;
	}
}

input[type=file] {
	position: absolute;
	overflow: hidden;
	height: 0.1px;
	width: 0.1px;
	z-index: -1;
	opacity: 0;
}

.spin {
	position: relative;

	&.loading {
		&::before {
			background: rgba(0, 0, 0, 0.35);
			position: absolute;
			height: 100%;
			width: 100%;
			content: '';
			left: 0;
			top: 0;
		}

		i {
			animation-name: spin;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-timing-function: linear; 
			color: white;
		}

		@keyframes spin {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}
	}

	i {
		pointer-events: none;
	}
}

#copy {
	position: absolute;
	color: transparent;
	background: none;
	height: 1px;
	width: 1px; 
	left: 0; 
	top: 0;
}

.pagination {
	margin-top: 1rem;

	.item-wrapper {
		position: relative;

		.item {
			margin-right: 0.5rem;
			font-size: 1.15rem;
			color: $silver;
			display: flex;

			&.active {
				color: $turqoise;
			}

			&:not(.active):hover {
				color: white;

				i {
					color: white;
				}
			}

			&.dots {
				user-select: none;
				cursor: pointer;

				&:hover {
					color: white;
				}
			}

			i {
				font-size: 0.65rem;
				color: $silver;
				margin: auto;
			}
		}

		.pagination-go {
			animation: slide-in 0.25s ease-out 0s 1 normal forwards;
			transition: opacity 0.25s ease-out;
			transform: translateX(-50%);
			border: 2px solid $green;
			background: #000000f2;
			flex-direction: row;
			position: absolute;
			padding: 0.5rem;
			display: flex;
			bottom: 150%;
			width: 12rem;
			opacity: 1;
			z-index: 5;
			left: 220%;

			&.hide {
				transition: opacity 0.25s ease-in;
				pointer-events: none;
				opacity: 0;
			}

			@keyframes slide-in {
				to {
					margin-top: 0.5rem;
				}
			}

			input {
				text-align: center;
				font-size: 1.15rem;
				background: none;
				margin: 0 10px;
				color: white;
				width: 100%;
				outline: 0;
				border: 0;
				
				&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
					appearance: none;
				}
			}

			i {
				font-size: 1.5rem;
				cursor: pointer;
				margin: auto;
			}

			a {
				background: $green;
				margin-left: 1rem;
				color: white;
			}
		}
	}
}