.post {
	margin-bottom: 1rem;
	background: none;

	&.active {
		box-shadow: 0 0 5px 0 $green;
	}

	.post-banner {
		padding: 0.25rem 0.5rem;
		margin-bottom: 2px;
		width: fit-content;
		user-select: none;

		&.is_superadmin {
			background: linear-gradient(to right, $superadmin, $gray);
		}

		&.is_moderator {
			background: linear-gradient(to right, $moderator, $gray);
		}

		span {
			text-transform: uppercase;
			margin-right: 0.25rem;
			letter-spacing: 1px;
			font-style: italic;
		}

		i {
			color: $yellow;
		}
	}

	.post-header {
		margin-bottom: 2px;

		.post-meta {
			flex-direction: row;
			display: flex;

			&.is_op {
				.post-meta-text {
					background: linear-gradient(to right, rgba(0, 133, 173, 0.35), $gray);
				}
			}

			&.is_author {
				.post-meta-text {
					background: linear-gradient(to right, rgba(0, 194, 110, 0.35), $gray);
				}
			}

			.post-avatar {
				border: 2px solid $gray;
				position: relative;
				margin-right: 2px;
				background: $gray;
				display: flex;
				padding: 2px;
				height: 100%;
				width: 5rem;

				&:hover {
					.avatar-meta {
						opacity: 1;

						&::before {
							opacity: 0.6;
						}
					}
				}

				&.is_online {
					border-color: rgba(0, 194, 110, 0.85);

					.avatar-meta {
						background: rgba(0, 194, 110, 0.85);
					}
				}

				img {
					object-fit: contain;
				}

				.avatar-meta {
					transition: opacity 0.2s ease-in-out;
					justify-content: center;
					background: $gray;
					flex-direction: column;
					pointer-events: none;
					text-align: center;
					position: absolute;
					user-select: none;
					color: white;
					display: flex;
					height: 100%;
					width: 100%;
					opacity: 0;
					bottom: 0;
					left: 0;

					&::before {
						transition: opacity 0.2s ease-in-out;
						pointer-events: none;
						background: black;
						position: absolute;
						height: 100%;
						content: '';
						width: 100%;
						opacity: 0;
					}

					p, span {
						font-size: 0.8rem;
					}

					p {
						margin: 0 auto;
						display: flex;
						z-index: 2;

						&.status {
							font-weight: bold;
							font-size: 0.9rem;
						}
					}
				}
			}

			.post-meta-text {
				justify-content: space-between;
				background: $gray;
				flex-direction: row;
				color: white;
				padding: 1rem;
				display: flex;
				flex: 1;

				.post-meta-left, .post-meta-right {
					margin: auto 0;
				}

				.post-meta-left {
					.post-author-rank {
						font-size: 0.8rem;
					}
				}

				.post-meta-right {
					flex-direction: column;
					text-align: right;
					display: flex;

					.post-i {
						font-size: 0.8rem;
					}
				}
			}

			.post-link {
				display: flex;

				a {
					&:hover {
						.fas {
							color: $turqoise;
						}
					}

					.fas {
						color: $link;
					}
				}
			}
		}
	}

	.post-body {
		background: $gray;
		color: white;
		padding: 1rem;

		q {
			background: rgb(20, 20, 20);
			width: fit-content;
			padding: 0.35rem;
			display: block;

			&::before, &::after {
				content: none;
			}
		}

		table {
			margin: 0;
		}

		ul, ol {
			padding-left: 1rem;
			list-style: unset;
		}

		* {
			color: white;
		}
	}

	.post-signature {
		padding: 0.5rem 1rem;
		background: $gray;
		margin-top: 2px;
		color: $silver;
	}

	.post-save-toolbar {
		flex-direction: row;
		display: flex;
	}

	.post-edited-by {
		padding: 0.5rem 1rem;
		flex-direction: row;
		font-style: italic;
		background: $gray;
		margin-top: 2px;
		color: $silver;
		display: flex;

		.edit-title {
			margin-right: 1rem;
			display: flex;

			span {
				font-style: normal;
				font-size: 1rem;
				color: white;
				margin: auto;
			}
		}

		.edited-message {
			margin-left: 0.5rem;
		}

		input {
			border: 2px solid $silver;
			padding: 0.25rem 0.5rem;
			border-radius: 0.25rem;
			background: none;
			color: white;
			width: 100%;
			outline: 0;

			&:focus {
				border-color: $green;
			}
		}

		* {
			font-size: 0.75rem;
		}
	}
}

.post-toolbar {
	background: $darkgray;
	padding: 0.5rem 1rem;
	flex-direction: row;
	margin-top: 2px;
	display: flex;

	.post-like {
		color: white !important;

		i {
			color: white;
		}
	}

	i {
		pointer-events: none;
		color: white;
	}
}

.post-toolbar, .post-save-toolbar {
	button {
		margin-right: 0.5rem;

		&.post-save, &.thread-save {
			border-color: transparent;
			background: $green;
		}

		&.thread-cancel {
			background: $darkgray !important;
		}

		&.post-delete, &.thread-delete {
			margin-left: auto;
			margin-right: 0;
		}
	}
}