#admin-login {
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 40%;

	form {
		margin: 0;
		
		.modal-header {
			background: $superadmin-fill;
		}

		.modal-body {
			input {
				&:focus {
					box-shadow: 0 0 0 0.1rem $superadmin-fill;
				}

				&:checked ~ .checkmark {
					background: $superadmin-fill;
				}
			}

			a {
				&:hover {
					color: $superadmin-fill;
				}
			}
		}

		.modal-footer {
			.btn {
				border-color: $superadmin-fill !important;
				background: $superadmin-fill !important;
				color: white;

				&:hover {
					background: rgb(175, 0, 0) !important;
				}
			}
		}
	}
}