#footer {
	border-top: 2px solid $green;
	background: black;
	text-align: center;
	margin-top: auto;
	padding: 0 20rem;
	color: white;
	display: flex;
	height: 4rem;

	#copyright {
		margin: auto;
	}
}