.message-form {

	fieldset {
		border-color: $green;
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	input, textarea {
		border: 1px solid $gray;
		background: $darkgray;
		color: white;
		width: 100%;
	}

	legend {
		color: $green;
	}

	input {
		padding: 0.25rem 0.5rem;
	}

	.message-form-title {
		padding: 0.5rem;
	}

	.message-form-content {
		flex-direction: column;
		display: flex;

		h4 {
			margin: 0 0.5rem;
		}

		textarea {
			padding: 0.5rem;
			resize: none;
		}
	}
}

.message-send {
	margin-top: 1rem; 
}