.new-message {
	position: absolute !important;
	top: 4rem;
	right: 0;
}

.flash-success.messages {
	padding: 0.25rem 0.5rem;
	margin-bottom: 0.5rem;
	background: $green;
	color: white;
}

#messages {
	border: 2px solid $green;

	.message {
		border-bottom: 1px solid $darkgray;
		background: $darkgray;
		padding: 0.5rem 1rem;
		display: flex;

		&.read {
			.message-title {
				color: $silver;

				&:hover {
					color: $turqoise;
				}
			}
		}

		&:last-child {
			border-bottom: 0;
		}

		.message-title {
			text-overflow: ellipsis;
			white-space: nowrap;
			margin-right: 2rem;
			overflow: hidden;
			flex: 1;
		}

		.message-from-to {
			margin-left: auto;
		}
	}
}