.message {
	background: $darkgray;

	.message-title {
        background: $gray;
		padding: 0.5rem 0.5rem 0 0.5rem;

		h3 {
			@include phone {
				font-size: 1.3rem;
			}
		}
	}

	.message-users {
		padding: 0 0.5rem 0.5rem 0.5rem;
		background: $gray;
		display: flex;
		
		.message-to, .message-from {
			color: $silver;
		}

		.message-from {
			position: relative;
			display: flex;
			flex: 1;

			.message-from-user {
				margin-left: 0.25rem;
				margin-right: auto;
			}
		}

		.message-to {
			margin-left: auto;
		}
	}

	.message-content {
		padding: 1rem;
	}
}