#messages {
	border: 2px solid $green;

	.message {
		border-bottom: 1px solid $darkgray;
		background: $darkgray;
		padding: 0.5rem 1rem;
		display: flex;

		&:last-child {
			border-bottom: 0;
		}

		.message-from {
			margin-left: auto;
		}
	}
}