.navbar {
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 1);
	border-bottom: 2px solid $green;
	background: #000000f2;
	position: sticky;
	display: flex;
	z-index: 100;
	height: 5rem;
	top: 0;

	#navbar-container {
		position: relative;
		height: 100%;

		@include phone {
			flex-wrap: nowrap;
		}

		.navbar-brand {
			display: flex;
			width: 12rem;
			height: 65%;
			padding: 0;

			@include phone {
				height: calc(2rem + 4px);
				width: 10rem;
				margin: 0;
			}
		}

		form {
			.nav-search {
				margin-left: 2.5rem;
				position: relative;
				overflow: hidden;
				display: flex;
				width: 17.5vw;

				@include phone {
					margin: auto;
					width: 80%;
				}
				
				&::before {
					transition: width 0.25s ease-in-out;
					border-bottom: 2px solid $turqoise;
					border-top: 2px solid transparent;
					pointer-events: none;
					position: absolute;
					height: 100%;
					content: '';
					z-index: 1;
					bottom: 0;
					width: 0;
					left: 0;
				}

				&.active, &:hover {
					&::before {
						width: 100%;
					}

					.search-animate i {
						color: $turqoise;
					}
				}

				#search {
					border: 0;
					border-top: 2px solid transparent;
					padding: 0.25rem 1.5rem 0.25rem 0;
					border-bottom: 2px solid $green;
					background: transparent;
					position: relative;
					color: white;
					margin: auto;
					width: 100%;
					outline: 0;

					&::placeholder {
						color: white;
						opacity: 0.25;
					}
				}

				.search-animate {
					transform: translateY(-50%);
					background: transparent;
					position: absolute;
					padding: 0.35rem 0;
					margin-left: auto;
					outline: 0;
					border: 0;
					right: 0;
					top: 50%;

					i {
						transition: color 0.25s ease-in-out;
						pointer-events: none;
						background: black;
						align-self: center;
						font-size: 1.25rem;
					}
				}
			}
		}

		.navbar-toggler {
			display: none;

			@include phone {
				outline: 0 !important;
				display: block;
				height: 100%;

				.toggle-animator {
					transition: 0.5s ease-in-out;
					transform: rotate(0deg);
					height: 1rem;
					width: 2rem;

					&.open span {
						&:nth-child(1) {
							width: 0%;
							left: 50%;
							top: 11px;
						}

						&:nth-child(2) {
							transform: rotate(45deg);
						}

						&:nth-child(3) {
							transform: rotate(-45deg);
						}

						&:nth-child(4) {
							width: 0%;
							left: 50%;
							top: 11px;
						}
					}

					span {
						transition: 0.25s ease-in-out;
						transform: rotate(0deg);
						background: white;
						border-radius: 9px;
						position: absolute;
						display: block;
						height: 3px;
						width: 100%;
						opacity: 1;
						left: 0;

						&:nth-child(1) {
							top: 0px;
						}

						&:nth-child(2), &:nth-child(3) {
							top: 10px;
						}

						&:nth-child(4) {
							top: 20px;
						}
					}
				}
			}
		}

		.navbar-content {
			display: flex;
			height: 100%;
			flex: 1;

			@include phone {
				display: none;
			}

			.nav-list {
				flex-direction: row-reverse;
				margin-left: auto;
				display: flex;

				.nav-items {
					flex-direction: row-reverse;
					display: flex;

					.nav-item {
						height: calc(100% + 2px);
						position: relative;
						display: flex;
						width: 9rem;

						&:hover {
							.nav-link {
								color: $turqoise;
							}
						}

						&.guest {
							margin: auto;
							margin-left: 2rem;
							height: 60%;
						}

						.nav-ruler {
							transition: transform 0.25s ease-out;
							background: $turqoise;
							position: absolute;
							height: 2px;
							width: 100%;
							bottom: 0;
							left: 0;
						}

						.nav-link {
							border-bottom: 2px solid transparent;
							transition: color 0.15s ease-in-out;
							border-top: 2px solid transparent;
							position: relative;
							user-select: none;
							display: flex;
							color: $green;
							height: 100%;
							width: 100%;
							padding: 0;

							&.active, &.slide-active, &:hover {
								color: $turqoise;
							}

							&.active {
								border-bottom: 2px solid $turqoise;
							}

							&#login-button {
								background: none;
								width: unset;
								padding: 0;
								border: 0;

								&:hover {
									color: $darkturqoise;
								}
							}

							&#register-button {
								border: 2px solid $green;
								border-radius: 4px;
								background: $green;
								color: white;

								&:hover {
									border-color: $darkgreen;
									background: $darkgreen;
								}
							}

							span {
								pointer-events: none;
								margin: auto;
								z-index: 2;
							}
						}

						&:hover {
							.navbar-dropdown {
								pointer-events: all;
								opacity: 1;
							}
						}

						.navbar-dropdown {
							transition: opacity 0.15s ease-in-out;
							box-shadow: 0 0 1rem 0 black;
							border: 2px solid $turqoise;
							background: #000000f2;
							top: calc(100% - 2px);
							pointer-events: none;
							position: absolute;
							width: 100%;
							z-index: 2;
							opacity: 0;

							@include phone {
								display: none;
							}

							.navbar-dropdown-item {
								transition: box-shadow 0.15s ease-in-out;
								text-align: center;
								padding: 1rem 0;
								cursor: pointer;

								&:not(:last-child) {
									border-bottom: 2px solid $turqoise;
								}

								&:hover {
									.navbar-dropdown-link {
										color: white;
									}
								}

								.navbar-dropdown-link {
									transition: color 0.15s ease-in-out;
									color: $turqoise;
								}
							}
						}
					}
				}
			}
		}

		.navbar-mobile {
			transition: opacity 0.25s ease-in-out;
			height: calc(100vh - 5rem);
			border: 2px solid $green;
			background: #000000f2;
			pointer-events: none;
			position: fixed;
			border-top: 0;
			display: none;
			width: 100vw;
			opacity: 0;
			top: 5rem;
			left: 0;

			@include phone {
				display: block;
			}

			&.open {
				pointer-events: all;
				opacity: 1;
			}

			.navbar-mobile-items {
				justify-content: center;
				flex-direction: column;
				align-items: center;
				display: flex;
				height: 100%;
				
				.navbar-mobile-item {
					margin: 1.5rem 0;

					.navbar-mobile-link {
						font-size: 2rem;
						color: $green;

						&:hover {
							color: $link;
						}
					}
				}
			}
		}
	}

	.toggle-sidebar {
		transform: translate(-50%, -50%);
		position: absolute !important;
		right: 0;
		top: 50%;

		@include phone {
			display: none !important;
		}
	}
}