.navbar {
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 1);
	border-bottom: 2px solid $green;
	background: #000000f2;
	position: sticky;
	display: flex;
	z-index: 100;
	height: 4rem;
	top: 0;

	.nav-avatar {
		margin-left: 1rem;
		width: 2.5rem;
	}

	#navbar-container {
		position: relative;
		height: 100%;

		.navbar-brand {
			display: flex;
			width: 13rem;

			img {
				margin-right: 5px;
				width: 10rem;
			}

			i {
				width: 3rem;
			}
		}

		form {
			.nav-search {
				margin-left: 2.5rem;
				position: relative;
				overflow: hidden;
				width: 20rem;

				.wrapper {
					transition: 
						transform 0.2s linear,
						border-left 0.1s linear 0.2s,
						border-top 0.2s linear 0.2s,
						border-right 0.1s linear 0.2s;

					border-right: 2px solid transparent;
					border-left: 2px solid transparent;
					border-top: 2px solid transparent;
					border-bottom: 2px solid $green;
					transform: translateX(100%);
					display: flex;

					&.show {
						border-right: 2px solid $green;
						border-left: 2px solid $green;
						border-top: 2px solid $green;
						transform: translateX(0);
					}

					#search {
						padding: 0.35rem 2rem 0.35rem 0.35rem;
						background: transparent;
						color: white;
						width: 100%;
						outline: 0;
						border: 0;

						&::placeholder {
							color: white;
							opacity: 0.25;
						}
					}
				}

				.search-animate {
					transform: translateY(-50%);
					background: transparent;
					position: absolute;
					padding: 0.35rem 0;
					margin-left: auto;
					outline: 0;
					border: 0;
					top: 50%;
					right: 0;

					i {
						pointer-events: none;
						margin-right: 0.5rem;
						background: black;
						align-self: center;
						font-size: 1rem;
					}
				}
			}
		}

		.navbar-content {
			display: flex;
			height: 100%;
			flex: 1;

			.nav-list {
				flex-direction: row-reverse;
				margin-left: auto;
				display: flex;

				.nav-items {
					flex-direction: row-reverse;
					display: flex;

					.nav-item {
						height: calc(100% + 2px);
						position: relative;
						display: flex;
						width: 7rem;

						&.guest {
							margin: auto;
							margin-left: 2rem;
							height: 60%;
						}

						.nav-ruler {
							transition: transform 0.25s ease-out;
							background: $turqoise;
							position: absolute;
							height: 2px;
							width: 100%;
							bottom: 0;
							left: 0;
						}

						.nav-link {
							position: relative;
							user-select: none;
							display: flex;
							color: $green;
							height: 100%;
							width: 100%;
							padding: 0;

							&.active {
								color: $turqoise;
							}

							&#login-button {
								background: none;
								width: unset;
								padding: 0;
								border: 0;

								&:hover {
									color: $darkturqoise;
								}
							}

							&#register-button {
								border: 2px solid $green;
								border-radius: 4px;
								background: $green;
								color: white;

								&:hover {
									border-color: $darkgreen;
									background: $darkgreen;
								}
							}

							span {
								pointer-events: none;
								margin: auto;
								z-index: 2;
							}
						}
					}
				}
			}
		}
	}
}