.navbar {
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 1);
	border-bottom: 2px solid $green;
	background: #000000f2;
	position: sticky;
	display: flex;
	z-index: 100;
	height: 5rem;
	top: 0;

	#navbar-container {
		position: relative;
		height: 100%;

		.navbar-brand {
			display: flex;
			width: 12rem;
			height: 65%;
			padding: 0;
		}

		form {
			.nav-search {
				margin-left: 2.5rem;
				position: relative;
				overflow: hidden;
				display: flex;
				width: 17.5vw;
				
				&::before {
					transition: width 0.25s ease-in-out;
					border-bottom: 2px solid $turqoise;
					border-top: 2px solid transparent;
					pointer-events: none;
					position: absolute;
					height: 100%;
					content: '';
					z-index: 1;
					bottom: 0;
					width: 0;
					left: 0;
				}

				&.active, &:hover {
					&::before {
						width: 100%;
					}

					.search-animate i {
						color: $turqoise;
					}
				}

				#search {
					border: 0;
					border-top: 2px solid transparent;
					padding: 0.25rem 1.5rem 0.25rem 0;
					border-bottom: 2px solid $green;
					background: transparent;
					position: relative;
					color: white;
					margin: auto;
					width: 100%;
					outline: 0;

					&::placeholder {
						color: white;
						opacity: 0.25;
					}
				}

				.search-animate {
					transform: translateY(-50%);
					background: transparent;
					position: absolute;
					padding: 0.35rem 0;
					margin-left: auto;
					outline: 0;
					border: 0;
					right: 0;
					top: 50%;

					i {
						transition: color 0.25s ease-in-out;
						pointer-events: none;
						background: black;
						align-self: center;
						font-size: 1.25rem;
					}
				}
			}
		}

		.navbar-content {
			display: flex;
			height: 100%;
			flex: 1;

			.nav-list {
				flex-direction: row-reverse;
				margin-left: auto;
				display: flex;

				.nav-items {
					flex-direction: row-reverse;
					display: flex;

					.nav-item {
						height: calc(100% + 2px);
						position: relative;
						display: flex;
						width: 7rem;

						&.guest {
							margin: auto;
							margin-left: 2rem;
							height: 60%;
						}

						.nav-ruler {
							transition: transform 0.25s ease-out;
							background: $turqoise;
							position: absolute;
							height: 2px;
							width: 100%;
							bottom: 0;
							left: 0;
						}

						.nav-link {
							transition: color 0.15s ease-in-out;
							position: relative;
							user-select: none;
							display: flex;
							color: $green;
							height: 100%;
							width: 100%;
							padding: 0;

							&.active {
								color: $turqoise;
							}

							&#login-button {
								background: none;
								width: unset;
								padding: 0;
								border: 0;

								&:hover {
									color: $darkturqoise;
								}
							}

							&#register-button {
								border: 2px solid $green;
								border-radius: 4px;
								background: $green;
								color: white;

								&:hover {
									border-color: $darkgreen;
									background: $darkgreen;
								}
							}

							span {
								pointer-events: none;
								margin: auto;
								z-index: 2;
							}
						}
					}
				}
			}
		}
	}
}