.search-results {
	.search-result {
		background: $darkindigo;
		padding: 0.5rem 1rem;
		flex-direction: row;
		margin: 1rem 0;
		display: flex;

		&:last-child {
			margin-bottom: 0;
		}

		.result-icon {
			margin-right: 1rem;
			align-items: center;
			display: flex;
			width: 4rem;
		}

		.result-user {
			flex-direction: column;
			display: flex;

			h5 {
				flex-direction: column;
				display: flex;
				margin: auto;
			}
		}
		
		h5 {
			line-height: normal;
			align-self: center;
		}
	}
}