#sidebar {
    flex-direction: column;
	height: fit-content;
	padding-top: 1rem;
	overflow: hidden;
	color: white;
	width: 17.5vw;

	@include desktop-up {
		margin-left: 2.5rem;
	}

	@include desktop-down {
		transition: transform 1s ease-in-out;
		height: fit-content !important;
		justify-content: space-between;
        flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	&.hide {
		display: none;
	}

	&.open {
		display: flex;
	}

	.sidebar-item {
		border-radius: 0.25rem;
		margin-bottom: 1.5rem;
		background: $darkgray;
		padding: 0.5rem 1rem;

		&:last-child {
			margin-bottom: 0;
		}

		@include desktop-down {
			width: calc(50% - 4px);
			margin-bottom: 0.5rem;
			height: fit-content;
		}

		@include phone {
			width: 100%;
		}

		.sidebar-title {
			border-bottom: 2px solid $green;
			padding-bottom: 0.5rem;
			margin-bottom: 0.5rem;
			font-weight: bold;
		}

		&.welcome {
			.wrapper {
				justify-content: space-between;
				flex-direction: row;
				display: flex;
				
				.welcome-text {
					justify-content: center;
					flex-direction: column;
					font-size: 1.25rem;
					display: flex;

                    * {
                        width: fit-content;
                    }
				}

				.welcome-avatar {
					display: flex;
					width: 25%;

					img {
						margin: auto;
					}
				}
			}
		}

        &.whats-new {
            .whats-new-thread {
                transition: transform 0.1s ease-in-out;
                margin-bottom: 0.5rem;
				white-space: nowrap;
                transform: scale(1);
				display: flex;

                &:hover {
                    transform: scale(1.01);
                }

                &:last-child {
					margin-bottom: 0;
				}

                .whats-new-link {
                    text-overflow: ellipsis;
					padding-left: 0.5rem;
					overflow: hidden;
                }

                i {
					margin: auto 0;
				}
            }
        }

        &.chat {
            .chat-box {
                @include scrollbarGreen();

                overflow: auto;
                height: 20rem;

                @include desktop-down {
                    height: 10rem;
                }

                .chat-message {
                    word-break: break-all;
                    margin-right: 0.5rem;
                    padding: 0.25rem 0;
                }
            }

            .chat-input {
                border-top: 2px solid $green;
                padding-top: 0.5rem;
                margin-top: 0.5rem;

                form {
                    display: flex;

                    #chat-content {
                        border: 1px solid $gray;
                        background: none;
                        color: white;
                        width: 100%;

                        &:focus {
                            border-color: $green;
                            box-shadow: none;
                        }

                        &.error {
                            border-color: red;
                        }
                    }

                    [type=submit] {
                        background: $gray;
                        color: white;
                        outline: 0;
                        border: 0;
                    }
                }
            }
        }

		&.latest-posts {
			@include desktop-down {
				width: 100%;
			}

			.latest-posts-item {
                transition: transform 0.1s ease-in-out;
				margin-bottom: 0.5rem;
				white-space: nowrap;
                transform: scale(1);
				display: flex;

                &:hover {
                    transform: scale(1.01);
                }

				&:last-child {
					margin-bottom: 0;
				}

				.thread {
					text-overflow: ellipsis;
					padding-left: 0.5rem;
					overflow: hidden;
				}

				i {
					margin: auto 0;
				}
			}
		}

        &.online-moderators {
			.sidebar-item-content div {
				margin-bottom: 1.5rem;

                h5 {
                    margin-bottom: 0.5rem;
                }

                a:not(.contact-admin) {
                    background: rgba(0, 0, 0, 0.5);
                    border-radius: 0.25rem;
                    margin-left: 0.25rem;
                    padding: 0.5rem;

                    &:nth-child(2) {
                        margin-left: auto;
                    }
                }

				&:last-child {
					margin-bottom: 0.5rem;
				}
			}
		}

		&.statistics {
			.statistics-item {
				justify-content: space-between;
				display: flex;
			}
		}

		.sidebar-header {
			border-bottom: 2px solid $green;
			padding-bottom: 0.5rem;
			margin-bottom: 0.5rem;
			font-weight: bold;
		}
	}
}