#sidebar {
	margin-left: 2.5rem;
	margin-top: -0.5rem;
	height: fit-content;
	position: sticky;
	color: white;
	width: 20vw;
	top: 5.5rem;

	.sidebar-border {
		height: calc(100% - 1rem - 1px);
		border: 4px solid black;
		top: calc(0.5rem + 1px);
		border-radius: 0.25rem;
		position: absolute;
		margin: 0.5rem 0;
		z-index: -1;
		width: 100%;
		left: 0;

		.sidebar-legend-fixer {
			background: $darkindigo;
			position: absolute;
			width: 10px;
			height: 4px;
			left: 4px;
			top: -4px;
		}
	}

	legend {
		padding: 0 0.25rem;
		z-index: 2;
	}

	.sidebar-item {
		border: 2px solid $green;
		background: $darkindigo;
		border-radius: 0.25rem;
		margin-bottom: 1rem;
		position: relative;
		z-index: 1;

		&.welcome {
			.wrapper {
				justify-content: space-between;
				flex-direction: row;
				display: flex;
				
				.welcome-text {
					flex-direction: column;
					display: flex;

					.sidebar-header {
						padding: 0;
						border: 0;

						a {
							font-weight: normal;
							font-size: inherit;
						}
					}

					.logout {
						margin-right: auto;
						margin-top: auto;
						color: $green;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.welcome-avatar {
					width: 25%;

					img {
						margin: auto;
					}
				}
			}
		}

		&.online-moderators {
			.separator {
				margin-right: 0.25rem;
			}

			.sidebar-offline {
				a {
					color: $link;

					&:hover {
						color: $turqoise;
					}
				}
			}
		}

		.sidebar-header {
			border-bottom: 2px solid $green;
			padding-bottom: 0.5rem;
			margin-bottom: 0.5rem;
			font-weight: bold;
		}

		a:hover {
			color: $turqoise;
		}

		.is_superadmin {
			color: $superadmin-fill;
		}

		.is_moderator {
			color: $moderator-fill;
		}
	}
}