#sidebar {
	margin-left: 2.5rem;
	height: fit-content;
	padding-top: 1rem;
	overflow: hidden;
	color: white;
	width: 17.5vw;

	@include phone {
		display: none;
	}

	&.hide {
		transition: width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out;
		height: calc(1rem + 2px);
		width: 0;
	}

	&.open {
		transition: width 0.25s ease-in-out, height 0.25s ease-in-out 0.25s;
	}

	.sidebar-item {
		border: 2px solid $green;
		border-radius: 0.25rem;
		margin-bottom: 1.5rem;
		background: $darkgray;
		padding: 0.5rem 1rem;

		.sidebar-title {
			border-bottom: 2px solid $green;
			padding-bottom: 0.5rem;
			margin-bottom: 0.5rem;
			font-weight: bold;
		}

		&.welcome {
			.wrapper {
				justify-content: space-between;
				flex-direction: row;
				display: flex;
				
				.welcome-text {
					flex-direction: column;
					display: flex;

					.sidebar-welcome-header {
						a {
							font-weight: normal;
							font-size: inherit;
						}
					}

					.user-role {
						margin-bottom: 1rem;
					}

					.logout {
						margin-top: auto;
						color: $green;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.welcome-avatar {
					display: flex;
					width: 25%;

					img {
						margin: auto;
					}
				}
			}
		}

		&.online-moderators {
			.separator {
				margin-right: 0.25rem;
			}

			.sidebar-superadmins {
				margin-bottom: 1rem;
			}
		}

		&.latest-posts {
			.latest-posts-item {
				margin-bottom: 0.5rem;
				white-space: nowrap;
				display: flex;

				&:last-child {
					margin-bottom: 0;
				}

				.thread {
					text-overflow: ellipsis;
					padding-left: 0.5rem;
					overflow: hidden;
				}

				i {
					margin: auto 0;
				}
			}
		}

		&.statistics {
			.statistics-item {
				justify-content: space-between;
				display: flex;
			}
		}

		.sidebar-header {
			border-bottom: 2px solid $green;
			padding-bottom: 0.5rem;
			margin-bottom: 0.5rem;
			font-weight: bold;
		}
	}
}