#table {
	.table-group {
		border: 2px solid $green;
		margin-bottom: 1rem;

		.table-header, .table-row {
			flex-direction: row;
			display: flex;

			.table-views, .table-posts {
				p, i {
					text-align: center;
					width: 100%;
				}
			}
		}

		.table-header {
			background: $green;
			padding: 0 0.25rem;
			color: white;

			.table-title {
				a {
					font-size: inherit;
					color: white;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.table-row {
			transition: background 0.1s ease-in-out;
			background: $darkindigo;
			margin: 0.25rem;
			color: $white;
			opacity: 0;

			&.admin-post {
				background: linear-gradient(to right, $superadmin, $gray);
				
				&:hover {
					background: linear-gradient(to right, #ff481040, #57576880);
				}
			}

			&.read {
				a {
					color: $silver;

					&:visited {
						color: $silver;

						i {
							color: $silver;
						}
					}

					&:hover {
						color: $turqoise;
					}

					i {
						color: $silver;
					}
				}

				.folder {
					color: $silver;
				}
			}

			&.show {
				transition: background 0.1s ease-in-out, opacity 0.35s ease-out;
				opacity: 1;
			}

			&:hover {
				background: #62627580;
			}
			
			a {
				color: $green;

				&:visited {
					color: $green;

					i {
						color: $green;
					}
				}

				&:hover {
					color: $turqoise;
				}
			}

			i {
				margin: auto 0;
				color: $green;
			}

			.folder {
				margin: auto 0.5rem auto 0;
				font-size: 1.5rem;
			}
		}

		.table-row-content {
			flex-direction: row;
			padding: 1rem;
			display: flex;
			flex: 1;

			.__wrapper {
				display: flex;

				&.table-title {
					flex: 1;
				}

				&.table-views, &.table-posts {
					width: 15%;
				}

				&.table-latest-post {
					width: 20%;

					p {
						margin-left: auto;
						
						a {
							&:hover {
								i, a {
									color: $turqoise;
								}
							}
							
							&:visited {
								&:hover {
									i {
										color: $turqoise;
									}
								}
							}

							i {
								margin-left: 0.25rem;
							}
						}
					}
				}

				i, p {
					margin: auto 0;
				}
			}
		}

		.table-icon {
			padding: 0.5rem;
			width: 4rem;

			img {
				margin: auto;
			}
		}

		.th-title {
			* {
				font-size: 1.5rem;
			}

			a {
				color: white;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}