#table {
	&.subcategory .table-header .table-views {
		margin-left: 0 !important;
	}

	.table-group {
		margin-bottom: 1rem;

		.table-header, .table-row {
			flex-direction: row;
			display: flex;

			.table-views, .table-posts {
				p, i {
					text-align: center;
					color: white;
					width: 100%;
				}
			}
		}

		.table-header {
			padding: 0.5rem 0.25rem;
			position: relative;
			background: $gray;

			.table-title {
				flex: unset !important;
				width: 45%;

				@include phone {
					width: 100%;
				}

				h4 {
					margin-left: -0.5rem;
                    color: white;

					@include phone {
						margin-left: 0;
					}
				}

				a {
					font-size: inherit;
                    color: inherit;

					&:hover {
						text-decoration: underline;
                        color: $turqoise;
					}
				}
			}

			.table-row-content {
				align-items: center;
				padding: 0 1rem;

				.table-views {
					margin-left: 4rem;
				}
			}
		}

		.table-row {
			background: $darkgray;
            border-radius: 2px;
			margin: 0.25rem 0;
			color: white;
			opacity: 0;

            @include desktop-up {
                transform: scale(1);

                &:hover {
                    transform: scale(1.0025);
                }
            }

			&.admin-post {
				background: linear-gradient(to right, $superadmin, $gray);
				
				&:hover {
					background: linear-gradient(to right, #ff481040, #57576880);
				}
			}

			a {
				&:not(.posted-by) {
					color: $green;

					&:hover {
						color: $turqoise;
					}
				}

				&:hover {
					color: $turqoise;
				}
			}

			&.read {
				a {
					&:not(.posted-by) {
						color: $silver;

						&:visited {
							color: $silver;

							i {
								color: $silver;
							}
						}

						&:hover {
							color: $turqoise;
						}
					}

					&:hover {
						color: $turqoise;
					}

					i {
						color: $silver;
					}
				}

				.folder {
					color: $silver;
				}
			}

			&.show {
				transition: background 0.1s ease-in-out, transform 0.1s ease-in-out, opacity 0.35s ease-out;
				opacity: 1;
			}

			&:hover {
				background: $gray;
			}

			.folder {
				margin: auto 0.5rem auto 0;
				font-size: 1.5rem;

				@include phone {
					display: none;
				}
			}
		}

		.subcategory-rows {
			transition: height 0.25s ease-in-out;

			&.hidden {
			    overflow: hidden;
				height: 0;
			}
		}

		.table-row-content {
			flex-direction: row;
			padding: 1rem;
			display: flex;
			flex: 1;

			.__wrapper {
				align-items: center;
				display: flex;

				&.table-title {
					flex: 1;
				}

				&.table-views, &.table-posts {
					width: 15%;

					@include phone {
						display: none;
					}
				}

				&.table-latest-post {
					text-align: right;
					width: 25%;

					@include phone {
						width: 55%;
					}

					.latest-post {
						flex-direction: column;
						margin-left: auto;
						display: flex;
						
						a {
							margin-left: auto;

							&:hover {
								i, a {
									color: $turqoise;
								}
							}
							
							&:visited {
								&:hover {
									i {
										color: $turqoise;
									}
								}
							}

							i {
								margin-left: 0.25rem;

                                @include desktop-down {
                                    display: none;
                                }
							}
						}

						p {
							text-align: right;
						}
					}
				}

				i, .latest-post {
					margin: auto 0;
				}
			}
		}

		.table-icon {
			padding: 0.5rem;
			display: flex;
			height: 4rem;
			margin: auto;
			width: 4rem;

			@include phone {
				display: none;
			}

			img {
				margin: auto;
			}
		}

		.category-collapse {
			transform: translateY(-50%);
			position: absolute;
			background: none;
			right: 0.5rem;
			height: 2rem;
			width: 2rem;
			padding: 0;
			outline: 0;
			border: 0;
			top: 50%;

			i {
				transition: transform 0.25s linear;
				vertical-align: middle;
				font-size: 1.5rem;
				transform: none;
				color: white;

				&.closed {
					transform: rotate(180deg);
				}
			}
		}

		.th-title {
			* {
				font-size: 1.5rem;
			}

			a {
				color: white;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}