.reply-button {
	position: absolute !important;
	top: -3rem;
	right: 0;

	@include phone {
		position: static !important;
		margin-bottom: 1rem;
	}
}

.thread {
	position: relative;

}

.thread-header {
	margin: 1rem 0;

	.thread-title {
		color: white;
	}

	fieldset {
		legend {
			input {
				width: 100%;
				margin: 0;
			}
		}
	}

	input {
		margin-top: 0.5rem;
	}
}

.thread-save-toolbar {
	margin: 0.5rem 0 1rem 0;
}

.post-send {
	margin-top: 0.5rem;
}