.thread-header {
	margin-bottom: -1rem;
	margin-top: 1rem;

	.thread-title {
		color: white;
	}

	fieldset {
		legend {
			input {
				width: 100%;
				margin: 0;
			}
		}
	}

	input {
		margin-top: 0.5rem;
	}
}

.thread-save-toolbar {
	margin: 0.5rem 0 1rem 0;
}

.post-send {
	margin-top: 0.5rem;
}