#toolbar {
    height: calc(100vh - 11rem);
    pointer-events: none;
    max-width: 15vw;
	position: fixed;
	color: white;
	z-index: 999;
    width: 15rem;
	top: 7rem;
	left: 0;

    @include desktop-down {
        margin: 1rem auto;
        position: unset;
        z-index: unset;
        height: unset;
        left: unset;
        width: 35%;
        top: unset;
    }

    @include phone {
        width: calc(100% - 2rem);
    }
    
	.toolbar-items {
		width: 100%;

		.toolbar-row {
            pointer-events: none;
			position: relative;
            width: 100%;

			&:last-child {
				margin-bottom: 0;
			}

			.toolbar-icon {
                border-bottom: 4px solid rgb(15, 15, 15);
				padding: calc(1rem + 4px) 1rem 1rem 1rem;
                background: rgb(15, 15, 15);
				justify-content: center;
                align-items: baseline;
                pointer-events: all;
                margin-bottom: 2px;
			    user-select: none;
			    cursor: pointer;
				display: flex;

                &:hover {
                    * {
                        color: $green;
                    }
                }

                &.active {
                    border-color: $green;

                    * {
                        color: $green;
                    }
                }

				i {
                    pointer-events: none;
                    margin-right: 0.5rem;
					font-size: 1.5rem;
					color: white;
				}
			}

			.toolbar-item {
                flex-direction: column;
                pointer-events: all;
                margin-bottom: 2px;
                display: none;

				&.show {
					display: flex;
				}

				.toolbar-subitem {
                    border: 1px solid $darkgray;
                    background: $darkgray;
					margin-bottom: 2px;
                    padding: 0.5rem;

                    &:last-child {
                        margin-bottom: 0;
                    }

					.subitem-title {
						margin-bottom: 0.5rem;
					}

					&.spoof-login {
						input {
							border: 1px solid $gray;
                            background: $darkgray;
                            color: white;
							width: 100%;
							outline: 0;
						}
					}

					&.maintenance-mode {
						.btn {
							i {
								margin-right: 0.25rem;
							}
						}
					}

                    #thread-rename {
                        margin-bottom: 0.5rem;
                    }
				}
			}
		}
	}
}