#toolbar {
    height: calc(100vh - 13rem);
    overflow: hidden;
	position: fixed;
	color: white;
	z-index: 999;
    width: 15rem;
	top: 7rem;
	left: 0;
    
    @include desktop-up {
        max-width: 12.5vw;
    }

    @include desktop-down {
        margin-top: 1rem;
        position: unset;
        z-index: unset;
        height: unset;
        left: unset;
        width: 35%;
        top: unset;
    }

    @include phone {
        width: calc(100% - 2rem);
    }

    .toolbar-toggle {
        background: rgb(15, 15, 15);
        padding: 0.5rem 0.75rem;
        pointer-events: all;
        margin-bottom: 2px;
        cursor: pointer;
        outline: 0;
        border: 0;
        
        i {
            font-size: 2rem;
            color: $green;
        }
    }
    
	.toolbar-items {
        transition: transform 0.25s linear;
        transform: translateX(0);
		width: 100%;

        &.hidden {
            transform: translateX(-100%);
        }

		.toolbar-row {
            pointer-events: none;
			position: relative;
            width: 100%;

			.toolbar-icon {
                border-bottom: 4px solid rgb(15, 15, 15);
				padding: calc(1rem + 4px) 1rem 1rem 1rem;
                background: rgb(15, 15, 15);
				justify-content: center;
                align-items: baseline;
                pointer-events: all;
                margin-bottom: 2px;
			    user-select: none;
			    cursor: pointer;
				display: flex;

                &:hover {
                    * {
                        color: $green;
                    }
                }

                &.active {
                    border-color: $green;

                    * {
                        color: $green;
                    }
                }

				i {
                    pointer-events: none;
                    margin-right: 0.5rem;
					font-size: 1.25rem;
					color: white;
				}
			}

			.toolbar-item {
                flex-direction: column;
                pointer-events: all;
                margin-bottom: 2px;
                max-height: 50vh;
                overflow: auto;
                display: none;

				&.show {
					display: flex;
				}

				.toolbar-subitem {
                    border: 1px solid $darkgray;
                    background: $darkgray;
					margin-bottom: 2px;
                    padding: 0.5rem;

                    &:last-child {
                        margin-bottom: 0;
                    }

					.subitem-title {
						margin-bottom: 0.5rem;
					}

                    #thread-rename, #category-rename, #subcategory-rename {
                        margin-bottom: 0.5rem;
                    }

                    label:not(.file-upload) {
                        margin-top: 1rem;
                        display: block;
                    }

                    [type=submit] {
                        margin-top: 1rem;
                    }

                    .suspended {
                        color: red;
                    }

                    .suspended-reason {
                        font-style: italic;
                        color: $silver;
                    }

                    .select-header {
                        margin-bottom: 0.25rem;
                    }

                    #suspend-day, #suspend-month, #suspend-year {
                        width: 100%;
                    }
				}
			}
		}
	}
}