.user-profile {
	.profile-upper {
		flex-direction: row;
		display: flex;

		.profile-avatar {
			background: $darkindigo;
			padding: 1rem;
			display: flex;
			height: 10rem;
			width: 10rem;

			img {
				margin: auto;
			}
		}

		.profile-meta {
			justify-content: space-evenly;
			background: $darkindigo;
			flex-direction: column;
			align-items: center;
			margin-left: 2px;
			display: flex;
			height: 10rem;
			flex: 1;

			.profile-name {
				flex-direction: row;
				align-items: center;
				display: flex;
				height: 100%;
				width: 100%;

				* {
					text-align: center;
					width: 33%;
				}
			}

			.profile-meta-stats {
				align-items: center;
				display: flex;
				height: 100%;
				width: 100%;

				.profile-meta-block {
					flex-direction: column;
					align-items: center;
					display: flex;
					height: 100%;
					width: 33%;

					.profile-meta-upper {
						margin-bottom: 0.5rem;
						color: $silver;
					}
				}
			}
		}
	}

	.profile-middle {
		flex-direction: row;
		display: flex;

		.profile-signature {
			background: $darkindigo;
			padding: 0.5rem 1rem;
			overflow: hidden;
			margin-top: 2px;
			flex: 1;

			p {
				overflow-wrap: break-word;
			}

			.no-signature {
				font-style: italic;
				color: $silver;
			}
		}
	}
}